<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCH8zTiJI7R1jwCo6G_zt_V4x8NrRIWiFk</string>
	<key>GCM_SENDER_ID</key>
	<string>585491402759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoAssignment.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>propp-400e1</string>
	<key>STORAGE_BUCKET</key>
	<string>propp-400e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585491402759:ios:272883c8f0bfe0c60cdaa2</string>
	<key>DATABASE_URL</key>
	<string>https://propp-400e1-default-rtdb.firebaseio.com</string>
</dict>
</plist>